@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: #0a3d62;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 150px;
    height: 220px;
    border-radius: 10px;
    border: 2px solid #000;
    background: white;
    font-size: 40px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.top,
.bottom {
    position: absolute;
    font-size: 30px;
}

.top {
    top: 5px;
    left: 10px;
}

.bottom {
    bottom: 5px;
    right: 10px;
    transform: rotate(180deg);
}

.value {
    margin-top: 70px;
    font-size: 50px;
}

.red {
    color: #e74c3c;
}

.black {
    color: #000;
}

#controls {
  margin-bottom: 20px;
}